<p id="notice"><%= notice %></p>


<ol class="breadcrumb">
  <li><%= link_to 'Channels', channels_path %></li>
  <li class="active"><%= @channel.name %></li>
</ol>

<p class="lead"><%= @channel.topic %></p>


<div id="all-messages">
<%= render 'messages' %>
<%= react_component('MessageContainer', {channelName: @channel.name}) %>
</div>


<%= render 'messages/form' %>
