<p id="notice"><%= notice %></p>

<h1><%= @channel.name %></h1>
<h2><%= @channel.topic %></h2>


<div id="all-messages">
<%= render 'messages' %>
<%= react_component('MessageContainer', {channelName: @channel.name}) %>
</div>


<%= render 'messages/form' %>
