<!DOCTYPE html>
<html>
<head>
  <title>Realtime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<footer>
  <div><%= link_to 'LOGOUT', destroy_user_session_path, method: 'DELETE' %></div>
</footer>
</body>
</html>
